---
import { Image } from 'astro:assets';
import noImagesPlaceholder from '@images/no-images.jpg';

interface Props {
  images?: string[];
  isFeatured?: boolean;
  coverImage?: string;
}

const { images = [], coverImage, isFeatured = false } = Astro.props;
---
<!-- TODO: Agregar el coverImage en el hero y hacer una galería abajo para las fotos -->

<div class="relative">
  {images.length > 0 ? (
    <div class="swiper-container h-[65vh] rounded-lg overflow-hidden">
      <div class="swiper-wrapper">
        {images.map((image) => (    
          <div class="swiper-slide">
            <Image src={image} alt="Property" class="w-full h-full object-cover" width={1920} height={600} />
          </div>
        ))}
      </div>
      <!-- Paginación -->
      <div class="swiper-pagination"></div>

    </div>
  ) : (
    <div class="h-[65vh] rounded-lg overflow-hidden">
      <Image
        src={noImagesPlaceholder}
        alt="No hay imágenes disponibles"
        class="w-full h-full object-cover"
        width={1920}
        height={600}
      />
    </div>
  )}
</div>

<script>
  import Swiper from 'swiper';
  import { Pagination, Autoplay } from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/pagination';

  new Swiper('.swiper-container', {
    modules: [Pagination, Autoplay],
    loop: true,
    autoplay: {
      delay: 0,
      disableOnInteraction: false,
    },
    speed: 3000,
    pagination: {
      el: '.swiper-pagination',
    },
    allowTouchMove: false,
    simulateTouch: false,
    grabCursor: false,
  });
</script>
