---
import { Image } from 'astro:assets';
import logo from '@images/logo.png';
---

<footer class="bg-gradient-to-r from-brand-400 to-brand-700 text-black py-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
          <!-- Logo and Description -->
          <div class="col-span-1 md:col-span-1">
              <div class="flex items-center mb-4">
                <a href="/">
                    <Image src={ logo } alt="Logo" width={100} class:list={['mr-4', 'drop-shadow-md']} />
                </a>
              </div>
              <p class="text-sm text-white">
                  Encuentra la propiedad perfecta para ti en CIMA Bienes Raices. Nuestro equipo de expertos te ayudara a encontrar la propiedad ideal que se ajuste a tus necesidades.
              </p>
          </div>

          <!-- About -->
          <div>
              <h3 class="text-lg font-semibold mb-4">Menú</h3>
              <ul class="space-y-2">
                  <li><a href="/" class="text-gray-200 hover:text-white transition-colors">Inicio</a></li>
                  <li><a href="/about" class="text-gray-200 hover:text-white transition-colors">Quiénes Somos</a></li>
                  <li><a href="/contact" class="text-gray-200 hover:text-white transition-colors">Contactar un agente</a></li>
                  <li><a href="/blog" class="text-gray-200 hover:text-white transition-colors">Blog</a></li>
              </ul>
          </div>
          
          <!-- Customer Service -->
          <div>
              <h3 class="text-lg font-semibold mb-4">Servicio al cliente</h3>
              <ul class="space-y-2">
                  <li><a href="#" class="text-gray-200 hover:text-white transition-colors">Aviso de privacidad</a></li>
                  <li><a href="#" class="text-gray-200 hover:text-white transition-colors">Política de cookies</a></li>
              </ul>
          </div>

          <!-- Social Media -->
          <div>
              <h3 class="text-lg font-semibold mb-4">Síguenos en redes</h3>
              <div class="flex space-x-4">
                  <a href="https://www.instagram.com/cima_bienesraices_/" target="_blank" rel="noopener noreferrer" class="text-gray-200 hover:text-white transition-colors">
                      <span class="sr-only">Instagram</span>
                      <i class="ri-instagram-fill text-3xl"></i>
                  </a>
                  <a href="https://www.facebook.com/CIMABienesRaicesyConstruccion" target="_blank" rel="noopener noreferrer" class="text-gray-200 hover:text-white transition-colors">
                      <span class="sr-only">Facebook</span>
                      <i class="ri-facebook-circle-fill text-3xl"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
  <div class="mt-8 border-t border-gray-300 pt-8">
      <p class="text-center text-sm text-gray-200 italic">
          &copy; 2025 CIMA Bienes Raíces. Todos los derechos reservados.
      </p>
  </div>
</footer>