---
import Header from "@components/navbarFooter/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<Header />
	<h1 class="container bg-brand">Index</h1>
</MainLayout>
