---
import { Image } from 'astro:assets';

import office from '@images/office.jpg';
---

<section id="historia" class="py-20 bg-white">
  <div class="max-w-7xl mx-auto px-4 grid md:grid-cols-2 gap-12 items-center">
    <div class="relative h-[400px] rounded-lg overflow-hidden">
      <Image
        src={office}
        alt="Oficinas CIMA"
        class="w-full h-full object-cover"
      />
    </div>
    
    <div>
      <h2 class="text-3xl font-bold mb-6">Nuestra Historia</h2>
      <div class="space-y-4 text-gray-600">
        <p>
          Fundada en octubre de 2019, CIMA Bienes Raíces nace como parte del prestigioso consorcio Cima Legal y Consultoría Integral, 
          estableciendo su sede en Av. Araucarias, esquina Magnolias #38, Col. Indeco Ánimas, Xalapa, Ver.
        </p>
        
        <div class="grid grid-cols-2 gap-4 mt-8">
          <div class="flex items-center gap-3 text-xl">
            <i class="ri-home-9-fill flex-shrink-0 text-brand"></i>
            <span>Venta y renta de inmuebles</span>
          </div>
          
          <div class="flex items-center gap-3 text-xl">
            <i class="ri-scales-3-fill flex-shrink-0 text-brand"></i>
            <span>Asesoría legal</span>
          </div>
          
          <div class="flex items-center gap-3 text-xl">
            <i class="ri-money-dollar-circle-fill flex-shrink-0 text-brand"></i>
            <span>Gestión de créditos</span>
          </div>
          
          <div class="flex items-center gap-3 text-xl">
            <i class="ri-file-paper-2-fill flex-shrink-0 text-brand"></i>
            <span>Elaboración de contratos</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
