---
import { Image } from "astro:assets";
import logo from '@images/logo.png';

---

<header id="navbar" class="bg-slate-100 fixed w-full top-0 left-0 z-50 shadow-lg">
  <nav class="max-w-[1920px] mx-auto md:px-10 px-5 flex items-center h-20">
    <a href="/" class="mr-10 sm:mr-32">
      <Image src={logo} alt="Logo" height={60} />
    </a>

    <!-- Mobile menu -->
    <div id="nav-menu" class="bg-white absolute top-20 left-[-100%] h-screen w-3/4 duration-150 lg:w-1/3 xl:hidden">
      <div class="flex flex-col">
        <a href="#" class="nav-link active">Comprar</a>
        <a href="#" class="nav-link">Rentar</a>
        <a href="#" class="nav-link">Vender</a>
        <a href="#" class="nav-link">Encuentra tu agente</a>
        <a href="tel:" class="phone-number">
          <i class="ri-whatsapp-fill"></i>228 835 14 79
        </a>
      </div>
    </div>

    <!-- Toggle button -->
    <div class="text-brand text-xl sm:text-3xl cursor-pointer z-50">
      <i class="ri-menu-4-line" id="toggle-btn"></i>
    </div>

    <!-- Desktop menu -->
    <div id="nav-menu-desktop" class="hidden xl:block absolute top-0 left-[30%] h-20 w-max duration-150">
      <div class="flex items-center justify-center h-full">
        <a href="#" class="nav-link active">Comprar</a>
        <a href="#" class="nav-link">Rentar</a>
        <a href="#" class="nav-link">Vender</a>
        <a href="#" class="nav-link">Encuentra tu agente</a>
        <a href="tel:" class="phone-number">
          <i class="ri-whatsapp-fill"></i>228 835 14 79
        </a>
      </div>
    </div>
  </nav>
</header>

<style>
  .nav-link,
  .phone-number {
    @apply text-lg px-5 py-3 duration-150;
  }

  .phone-number:hover {
    @apply text-brand;
  }

  .nav-link:hover,
  .active {
    @apply bg-brand text-white;
  }
</style>

<script>
  const navMenu = document.getElementById('nav-menu') as HTMLElement;
  const toggleBtn = document.getElementById('toggle-btn') as HTMLElement;
  const navLink = document.querySelectorAll('.nav-link');

  toggleBtn.addEventListener('click', () => {
    navMenu.classList.toggle('left-[0]');
    toggleBtn.classList.toggle('ri-close-large-line');
  });

  navLink.forEach((link) => {
    link.addEventListener('click', () => {
      navMenu.classList.remove('left-[0]');
      toggleBtn.classList.remove('ri-close-large-line');
    })
  })
</script>