---
import { Image } from "astro:assets";
import logo from '@images/logo.png';
import Button from "../ui/Button.astro";
---

<!-- Navigation -->
<header class="bg-white py-4 px-6 fixed w-full z-40">
  <nav class="container mx-auto flex items-center justify-between">
      <div class="flex items-center space-x-12">
          <a href="#" class="text-2xl font-bold">
            <Image src={logo} alt="Logo" width={50} />
          </a>
          <div class="hidden md:flex space-x-6">
              <a href="#" class="text-gray-700 font-normal hover:font-semibold duration-150 hover:text-black">Comprar</a>
              <a href="#" class="text-gray-700 font-normal hover:font-semibold duration-150 hover:text-black">Rentar</a>
              <a href="#" class="text-gray-700 font-normal hover:font-semibold duration-150 hover:text-black">Quienes Somos</a>
              <a href="#" class="text-gray-700 font-normal hover:font-semibold duration-150 hover:text-black">Blog</a>
          </div>
      </div>
      <div class="flex items-center space-x-4">
          <span class="hidden md:inline text-gray-700">+52 228 122 9452</span>
          <Button text="Contactanos" link="/contacto" icon="ri-arrow-right-line" />
          <button id="menuToggle" class="md:hidden text-2xl text-gray-700">
              <i class="ri-menu-line"></i>
          </button>
      </div>
  </nav>
</header>

<!-- Full-screen Menu -->
<div id="fullScreenMenu" class="fixed inset-0 bg-white z-50 hidden">
  <button id="menuClose" class="absolute top-4 right-4 text-gray-700 text-3xl">
    <i class="ri-close-line"></i>
  </button>
  <div class="flex flex-col items-center justify-center h-full space-y-8">
      <a href="#" class="text-3xl text-gray-700 hover:text-black">Comprar</a>
      <a href="#" class="text-3xl text-gray-700 hover:text-black">Rentar</a>
      <a href="#" class="text-3xl text-gray-700 hover:text-black">Quienes Somos</a>
      <a href="#" class="text-3xl text-gray-700 hover:text-black">Blog</a>
      <Button text="Contactanos" link="/contacto" icon="ri-arrow-right-line" />
  </div>
</div>

<script>
  const menuToggle = document.getElementById('menuToggle') as HTMLButtonElement;
  const menuClose = document.getElementById('menuClose') as HTMLButtonElement;
  const fullScreenMenu = document.getElementById('fullScreenMenu') as HTMLDivElement;

  menuToggle.addEventListener('click', () => {
      fullScreenMenu.classList.remove('hidden');
  });

  menuClose.addEventListener('click', () => {
      fullScreenMenu.classList.add('hidden');
  });
</script>
