---
import { Image } from 'astro:assets';

import Button from '@components/ui/Button.astro';

import temp2 from '@images/properties/temp2.jpeg';
import temp3 from '@images/properties/temp3.jpeg';
import temp4 from '@images/properties/temp4.jpeg';
---
<section class="max-w-7xl mx-auto py-20 px-4">
  <div class="text-center mb-12">
      <h2 class="text-3xl md:text-4xl font-bold mb-4">Últimos Artículos</h2>
      <p class="text-gray-600 max-w-2xl mx-auto">Mantente actualizado con las últimas tendencias y noticias del mercado inmobiliario a través de nuestro blog.</p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mb-12">
      <!-- Article 1 -->
      <div class="bg-white rounded-lg overflow-hidden shadow-lg transition-transform duration-300 hover:scale-105">
          <Image src={temp4} alt="Imagen del artículo 1" class="w-full h-48 object-cover" />
          <div class="p-6">
              <h3 class="font-bold text-xl mb-2">Cómo elegir la mejor ubicación para tu hogar</h3>
              <p class="text-gray-600 mb-4">Descubre los factores clave que debes considerar al elegir la ubicación de tu próxima casa.</p>
              <a href="#" class="text-blue-600 hover:underline">Leer más</a>
          </div>
      </div>

      <!-- Article 2 -->
      <div class="bg-white rounded-lg overflow-hidden shadow-lg transition-transform duration-300 hover:scale-105">
          <Image src={temp2} alt="Imagen del artículo 2" class="w-full h-48 object-cover" />
          <div class="p-6">
              <h3 class="font-bold text-xl mb-2">Tendencias de diseño interior para 2024</h3>
              <p class="text-gray-600 mb-4">Explora las últimas tendencias en diseño interior que darán vida a tu hogar este año.</p>
              <a href="#" class="text-blue-600 hover:underline">Leer más</a>
          </div>
      </div>

      <!-- Article 3 -->
      <div class="bg-white rounded-lg overflow-hidden shadow-lg transition-transform duration-300 hover:scale-105">
          <Image src={temp3} alt="Imagen del artículo 3" class="w-full h-48 object-cover" />
          <div class="p-6">
              <h3 class="font-bold text-xl mb-2">Guía para invertir en propiedades comerciales</h3>
              <p class="text-gray-600 mb-4">Aprende los aspectos fundamentales para invertir exitosamente en el mercado de propiedades comerciales.</p>
              <a href="#" class="text-blue-600 hover:underline">Leer más</a>
          </div>
      </div>
  </div>

  <div class="text-center">
    <Button text="Ir al blog" link="/blog" icon="ri-arrow-right-line" />
  </div>
</section>
