---
import Footer from '@components/layout/Footer.astro';
import Header from '@components/layout/Header.astro';
// TODO: Investigar porqué las transiciones de Astro generan error en botón desplegable de Header
// import { ClientRouter } from 'astro:transitions';

const GOOGLE_FONTS_URL: string = 'https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
const REMIXICON_URL: string = 'https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css';
const SWIPER_CSS_URL: string = 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css';
const SWIPER_JS_URL: string = 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Cima Bienes Raíces</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href={ GOOGLE_FONTS_URL } rel="stylesheet" />
		<link href={ REMIXICON_URL } rel="stylesheet" />
		<!-- SwiperJS -->
		<link href={ SWIPER_CSS_URL } rel="stylesheet" />
		<!-- <ClientRouter /> -->
	</head>
	<body class="bg-white font-body">
		<Header />
		<main class="max-w-[1920px] mx-auto pt-[92px]">
			<slot />
		</main>
		<Footer />

		<!-- SwiperJS -->
		<script src={ SWIPER_JS_URL } defer></script>
	</body>
</html>
