---
import { DealType } from '@enums/property.enum';
import { ConstructionType } from '@enums/construction.enum';

const handleSubmit = async (event: SubmitEvent) => {
  
}
---

<!-- <form onsubmit={handleSubmit(e)}>
  <h1>Crear una construcción</h1>
  <input type="submit" value="Enviar">
</form> -->
